{% extends "base.html" %}
{% block content %}
    {% import "bootstrap/wtf.html" as wtf %}
    <div class="container">
        <h3> Add new menu item</h3>
        <div class="col-md-6">
            <form method='POST' action={{url_for('new_menu_item', restaurant_id=restaurant_id)}}>
                {{wtf.quick_form(form)}}
              <!-- Name:
              <p><input type='text' name='menuitem'/></p>
              Description:
              <p><input type='text' name='description'/></p>
              Price:
              <p><input type='text' name='price'/></p>
              <p><input type='submit' value='Submit'/></p> -->
            </form>
        </div>
    </div>
{% endblock %}
