{% extends "base.html" %}
{% block content %}
<div class="container">
  {% include "flash.html" %}
  <div class="row">
    <div class="col-md-12">
      <img src="{{url_for('static',filename='slider-restaurant.jpg')}}" class="img-responsive" alt="hero image"/>
    </div>
  </div>
  <div class="restaurant">
    <ul class="restaurant_list">
    {% for restaurant in restaurants %}
    <div class="highlight">
      <li class="restaurant_item_{{restaurant.id}}">
        <a href="{{url_for('restaurant_menu',restaurant_id=restaurant.id)}}">{{restaurant.name}}</a></td>
        <a href="{{url_for('edit_restaurant',restaurant_id=restaurant.id)}}" class="action">Edit</a>
        <a href="{{url_for('delete_restaurant',restaurant_id=restaurant.id)}}" class="action">Delete</a></td>
      </li>
    </div>
    {% endfor %}
   </ul>
  </div>
  <!-- <table class="table">
    <thead>
      <tr>
        <th>Take your pick</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
  {% for restaurant in restaurants %}
    <tr>
      <td><a href="{{url_for('restaurant_menu',restaurant_id=restaurant.id)}}">{{restaurant.name}}</a></td>
      <td><a href="{{url_for('edit_restaurant',restaurant_id=restaurant.id)}}">Edit</a>
      | <a href="{{url_for('delete_restaurant',restaurant_id=restaurant.id)}}">Delete</a></td>
    </tr>
  {% endfor %}</br></br>
    </tbody>
  </table> -->
  <a href="{{url_for('new_restaurant')}}" class="btn btn-md btn-primary">Create New Restaurant</a>
</div>
{% endblock %}
